<h1><%= @product.name%></h1>
<h5>$<%= @product.price%></h4>

 <p> Edit
<%= link_to edit_product_path(@product) do %> 
    <div class="edit-box">
    </div>
  <% end %> 
  </p>
  
  <p><%= link_to 'DESTROY', @product, method: :delete,
              data: { confirm: 'Are you sure?' }, class:'btn btn-danger m-1' %></p>



<% @product.ratings.each do |rating|%>
<h5><%= rating.user.name%></h5>
<p>Review: <%= rating.review%> </p>
<p>Rating: <%= rating.rating%>  </p>


<%end%>


