
<h2><%= title %></h2>
<ul>
<% product.errors.full_messages.each do |messages|%>
<li> <%= messages %></li>
<% end %>
</ul>


<%= form_with model: product, local: true, class:"m-4 product-form" do |form|%>

<div class="mb-3">
<%= form.label :name, class:"form-label"%>
<%= form.text_field :name%>
</div>

<div class="mb-3">
<%= form.label :description, class:"form-label"%>
<%= form.text_area :description, class:'form-control'%>
</div>

<div class="mb-3">
<%= form.label :price, class:"form-label"%>
$<%= form.number_field :price, step: 0.01, class:'form-control' %>
</div>

<div class="mb-3">
<%= form.label :brand_id, class:"form-label" %>
<%= form.collection_select(:brand_id, Brand.all, :id, :name,class:'form-control') %>
</div>

<div class="mb-3">
<%= form.label :images %>
<%= form.file_field :images, accept: 'image/png, image/jpg, image/gif', multiple: true %>
</div>


<%= form.submit class:'btn btn-primary'%>

<%end%>