<h1><%= @product.name%></h1>
<h5>$<%= @product.price%></h4>




 <p> 
 <div>
  <%= link_to "edit", edit_product_path(@product),class:"btn btn-success" %> 
    <div class="edit-box"> 
    </div>

</div>
  </p> 
  
  <%= button_to 'DESTROY', @product, method: :delete,
        data: { confirm: "Are you sure?" }, class:"btn btn-danger m-1" %> 



<% @product.ratings.each do |rating|%>
<h5><%= rating.user.name%></h5>
<p>Review: <%= rating.review%> </p>
<p>Rating: <%= rating.rating%>  </p>


<%end%>


